@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Syne, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #090909;
  color: #eee;

  line-height: 2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #eee;
  font-size: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #111 inset;
}

button {
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  background: #09f;
}

button:disabled {
  cursor: not-allowed;
  filter: brightness(80%);
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

.rotate-gradient {
  background-image: linear-gradient(-45deg, #3b82f6, #8b5cf6, #ec4899, #f43f5e);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
